.resetDesp
{
    line-height: 1.6;
    text-align: center;
    font-size: 22px !important;
    margin: 35px 0px;
    color: var(--primaryColor);
}

@media only screen and (max-width: 576px) {
    .resetDesp
    {
        font-size: 16px !important;
        margin: 20px 0px;
        br
        {
            display: none !important;
            
        }
    }
}