.footerCont {
    background: var(--secondaryColor);
    min-height: 110px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: white;

    .linksCont {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 55%;

        p {
            margin: 0px;
            cursor: pointer;
        }
    }

    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        margin-left: 90px;

        .icon {
            font-size: 22px;
            cursor: pointer;
            transition: color 0.15s ease-in-out;
        }

        .icon:hover {
            color: var(--primaryColor);
        }
    }
}



@media only screen and (max-width: 576px) {
    .footerCont {
        min-height: unset;
        text-align: center;
        padding: 25px 0px;
        h5
        {
            margin-bottom: 30px !important;
        }
        .col-12 {
            padding: 0px 15px !important;

            .d-flex {
                display: block !important;

                p {
                    font-size: 14px;
                }
            }

            .linksCont {
                margin: 20px 0px;
                min-width: unset;
            }

            .socialIcons {
                justify-content: center;
                width: auto;
                margin-left: 0px;

                .icon {
                    margin-left: 13px;
                }

                .icon:first-child {
                    margin-left: 0px !important;
                }
            }
        }
    }
}