.deliveryMethodCont {
    border-radius: 15px;
    background: white;
    padding: 30px 2% 50px 2%;
    margin-top: 30px;

    .custom-radio {
        margin-top: 20px;

        .custom-control-label {
            cursor: pointer;
            padding-left: 25px;
            min-width: 80%;
            width: auto;

            div {
                font-size: 13px;
                color: var(--primaryColor);
                padding: 14px 20px;
                font-size: 15px;
                border: 1px solid var(--primaryColor);
                border-radius: 5px;
            }
        }

        .custom-control-label::before,
        .custom-control-label::after {
            width: 1.8rem;
            height: 1.8rem;
            border-width: 2px;
            margin-top: 8px;
            border-color: var(--primaryColor);
        }
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: var(--secondaryColor) !important;
        background-color: var(--secondaryColor) !important;
    }
}

@media only screen and (max-width: 576px) {

    .deliveryMethodCont {
        padding: 10px 2% 30px 2%;
        .col-sm-6
        {
            p
            {
                margin: 15px 0px !important;
            }
        }
        .custom-radio {
            .custom-control-label {
                min-width: 100%;
            }
        }
    }

}